@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
* {
	font-family: 'Noto Sans', 'sans-serif';
}
@theme {
	--shadow-header: 0px 0px 10px 3px rgba(0, 0, 0, 0.69);
}
@plugin 'daisyui' {
	themes: light, dark, dracula;
}
